<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{%  block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/{% block stylesheet %}{% endblock %}">

    </head>
    <body>
        <div class="site">

            {% block content %}
            {% endblock %}

            <br/>
            &copy; 2014 <a href="http://gles3mark.eu">gles3mark.eu</a> |
            <a href="http://play.google.com">Google Play</a> |
            <a href="http://tomaskimer.com">tomaskimer.com</a>

        </div>
        <br/>
    </body>
</html>
{% endautoescape %}