{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block description %}Detail{% endblock %}
{% block stylesheet %}{{ stylesheet }}{% endblock %}

{% block content %}
    <h1 id="top">
        {{ title }}
    </h1>

    <a href="/">&larr;back</a> <br/><br/>

    <b>General info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Uploader</td> <td>{{ db.uploader }}</td> </tr>
        <tr> <td>Date</td> <td>{{ db.date }}</td> </tr>
        <tr> <td>Device</td> <td>{{ db.device }}</td> </tr>
        <tr> <td>Renderer</td> <td>{{ db.renderer }}</td> </tr>
    </tbody>
    </table>

    <br/> <br/>
    <b>Benchmark results</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Score            </td> <td>{{ db.score        }}</td> </tr>

        <tr> <td>Frame time avg   </td> <td>{{ bench.SPFavg    }} ms</td> </tr>
        <tr> <td>Frame time best  </td> <td>{{ bench.SPFbest   }} ms</td> </tr>
        <tr> <td>Frame time worst </td> <td>{{ bench.SPFworst  }} ms</td> </tr>
        <tr> <td>Frame time stddev</td> <td>{{ bench.SPFstddev }} ms</td> </tr>

        <tr> <td>FPS avg   </td> <td>{{ bench.FPSavg    }}</td> </tr>
        <tr> <td>FPS best  </td> <td>{{ bench.FPSbest   }}</td> </tr>
        <tr> <td>FPS worst </td> <td>{{ bench.FPSworst  }}</td> </tr>
        <tr> <td>FPS stddev</td> <td>{{ bench.FPSstddev }}</td> </tr>

    </tbody>
    </table>

    <br/> <br/>
    <b>OpenGL info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Vendor       </td> <td>{{ gl.Vendor         }}</td> </tr>
        <tr> <td>Renderer     </td> <td>{{ gl.Renderer       }}</td> </tr>
        <tr> <td>Version      </td> <td>{{ gl.Version        }}</td> </tr>
        <tr> <td>GLSL version </td> <td>{{ gl["GLSL version"]}}</td> </tr>
    </tbody>
    </table>

    <br/> <br/>
    <b>EGL context info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Version          </td> <td>{{ glcontext["Version"]           }}</td> </tr>
        <tr> <td>Surface size     </td> <td>{{ glcontext["Surface size"]      }}</td> </tr>
        <tr> <td>Min swap interval</td> <td>{{ glcontext["Min swap interval"] }}</td> </tr>
        <tr> <td>Max swap interval</td> <td>{{ glcontext["Max swap interval"] }}</td> </tr>
    </tbody>
    </table>

    <br/> <br/>
    <b>Display info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Resolution</td> <td>{{ device.Display.Resolution }}</td> </tr>
        <tr> <td>DPI</td> <td>{{ device.Display.DPI }}</td> </tr>
        <tr> <td>Size</td> <td>{{ device.Display.Size }}</td> </tr>
        <!--<tr> <td>OpenGL ES version</td> <td>{{ device.Display["OpenGL ES version"] }}</td> </tr>-->
    </tbody>
    </table>

    <br/> <br/>
    <b>CPU info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Cores</td> <td>{{ device.CPU.Cores }}</td> </tr>
        <tr> <td>Frequency</td> <td>{{ device.CPU.Freq }}</td> </tr>
        <tr> <td>Instruction set (ABI)</td> <td>{{ device.CPU.ABI }}</td> </tr>
        <tr> <td>Instruction set 2 (ABI2)</td> <td>{{ device.CPU.ABI2 }}</td> </tr>
    </tbody>
    </table>

    <br/> <br/>
    <b>Memory info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Total memory</td> <td>{{ device.Mem["Total memory"] }}</td> </tr>
    </tbody>
    </table>

    <br/> <br/>
    <b>HW info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Manufacturer</td> <td>{{ device.HW.Manufacturer }}</td> </tr>
        <tr> <td>Brand       </td> <td>{{ device.HW.Brand        }}</td> </tr>
        <tr> <td>Model       </td> <td>{{ device.HW.Model        }}</td> </tr>
        <tr> <td>Device      </td> <td>{{ device.HW.Device       }}</td> </tr>
        <tr> <td>Hardware    </td> <td>{{ device.HW.Hardware     }}</td> </tr>
        <tr> <td>Board       </td> <td>{{ device.HW.Board        }}</td> </tr>
        <tr> <td>Product     </td> <td>{{ device.HW.Product      }}</td> </tr>
    </tbody>
    </table>

    <br/> <br/>
    <b>Android info</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        <tr> <td>Android version    </td> <td>{{ device.OS["Android version"]     }}</td> </tr>
        <tr> <td>Android SDK version</td> <td>{{ device.OS["Android SDK version"] }}</td> </tr>
        <tr> <td>OS                 </td> <td>{{ device.OS.OS                     }}</td> </tr>
        <tr> <td>Bootloader         </td> <td>{{ device.OS.Bootloader             }}</td> </tr>
        <tr> <td>Java specification </td> <td>{{ device.OS["Java specification"]  }}</td> </tr>
        <tr> <td>VM specification   </td> <td>{{ device.OS["VM specification"]    }}</td> </tr>
        <tr> <td>VM implementation  </td> <td>{{ device.OS["VM implementation"]   }}</td> </tr>
        <tr> <td>Build ID           </td> <td>{{ device.OS["Build ID"]            }}</td> </tr>
        <tr> <td>Fingerprint        </td> <td>{{ device.OS.Fingerprint.replace("/", " / ") }}</td> </tr>
        <tr> <td>Kernel             </td> <td>{{ device.OS.Kernel                 }}</td> </tr>
    </tbody>
    </table>

    <br/> <br/>
    <b>OpenGL implementation-dependent limits</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
        {% for l in gllimits %}
            <tr> <td>{{ l }}</td> <td>{{ gllimits[l] }}</td> </tr>
        {% endfor %}
    </tbody>
    </table>

    <br/> <br/>
    <b>OpenGL extensions</b><br/>
    <table class="pure-table pure-table-bordered"> <!-- pure-table-striped -->
    <tbody>
      {% for e in gl.Extensions %}
        <tr> <td>{{ e }}</td> </tr>
      {% endfor %}
    </tbody>
    </table>


    <!--<div class="message">-->
    <!--{% autoescape false %}-->
         <!--<br/> {{ bench }}-->
        <!--<br/> {{ gl }}-->
        <!--<br/> {{ glcontext }}-->
        <!--<br/> {{ device }}-->
    <!--{% endautoescape %}-->
    <!--</div>-->

    <br/>
    &uarr; <a href="#top">back to top</a> &uarr;<br/>

{% endblock %}