{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block description %}Main{% endblock %}
{% block stylesheet %}{{ stylesheet }}{% endblock %}

{% block content %}
    <h1>
        {{ title }}
    </h1>

    <a href="javascript:history.go(0)">refresh page</a> <br/><br/>

    <table class="pure-table pure-table-horizontal"> <!-- pure-table-striped -->
    <thead>
        <tr>
            <th>#</th>
            <th>Score</th>
            <th>Device</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        {% if results %}
            {% for r in results %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ r.score }}</td>
                    <td>{{ r.device }}</td>
                    <td><a href="detail?{{ r.key.id() }}">detail</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    </table>

    {% if message %}
        <div class="message">
        {% autoescape false %}
            <!-- <br/>User agent: {{ message }} -->
        {% endautoescape %}
        </div>
    {% endif %}

{% endblock %}