
body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.pure-table {
    margin-left:auto;
    margin-right:auto;
}

.pure-table.td {
    word-wrap: break-word;
}

a {
  text-decoration: underline;
  color: #000;
}